<div class="item-table">
  @for (itemGroup of itemGroups(); track $index) {
    <div class="item-row" [formGroup]="itemGroup" data-testid="item-row">
      <label class="item-field">
        <span>Item Name</span>
        <input
          type="text"
          formControlName="name"
          [attr.name]="'itemName-' + $index"
          maxlength="100"
          placeholder="Anime Nail"
          data-testid="item-name"
        />
      </label>

      <label class="item-field item-field--qty">
        <span>Qty</span>
        <input type="number" formControlName="qty" [attr.name]="'itemQty-' + $index" min="1" data-testid="item-qty" />
      </label>

      <label class="item-field item-field--amount">
        <span>Amount (RM)</span>
        <input
          type="number"
          formControlName="amount"
          [attr.name]="'itemAmount-' + $index"
          min="0"
          max="99999.99"
          step="0.01"
          data-testid="item-amount"
        />
      </label>

      <button
        type="button"
        class="remove-button"
        (click)="requestRemoveItem($index)"
        [disabled]="itemGroups().length === 1"
        data-testid="remove-item"
      >
        Remove
      </button>
    </div>
  }
</div>
